@charset "UTF-8";

*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0px ;
    margin: 0px;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-color: #30348C;
}
header{
    color: whitesmoke;
    font-size: 2.5vw;;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
    text-align: center;
    padding: 30px;
}
h2{
    text-align: left;
    font-size: 2em;
    text-indent: 30px;
    color: #308C3E;
    text-shadow: 2px 2px 0px #0b1f0e4f;
    padding: 15px;
    
}
main{
    max-width: 869px;
    margin: auto;
}
nav{
    text-align: left;
    background-color: #D91E41;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
    padding-bottom:20px;
    margin: 30px;
    border-radius: 10px;
    min-width: 500p;
    
}
a{
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    text-decoration: none;
    margin: 15px;
    padding: 15px;
    color: white;
    text-align: center;
    
    border: 1px solid black;
    border-radius: 6px;
    background-color: #30348C;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.507);
}
a:hover{
    background-color: yellow;
    color: #30348C;
    font-weight: bolder;
}
